.footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.footer__top {
    background-image: url(../img/3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width:100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__top-left{
    width:25%;
}
.footer__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

}
.footer__menu-list__link {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 0.2em;
}

.footer__menu-list__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--main-color);
    transition: opacity 300ms, transform 300ms;
    transform: scale(0);
}

.footer__menu-list__link:hover::after,
.footer__menu-list__link:focus::after {
    transform: scale(1);
}
.footer__center{
    width: 40%;
}
.footer__center-text{
    line-height: 26px;
    padding: 4px;
    width: 100%;
    text-align: center;
}

.footer__top-right {
    display: flex;
    width: 25%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footer__top-right, .footer__menu-list__link, .footer__center-text  {
    color: var(--main-color);
    background-color: white;
    opacity: 80%;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

}
.footer__top-right, .footer__menu-list {
    height: 178px;

}

.footer__contact-header{
    margin: 0 0 8px 0;
    font-size:24px;
    font-weight: 500;
    font-style: normal;
}
.footer__contact{
    margin: 0;
    font-size: 15px;
    font-style: normal;
}

.payment{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.payment__icon {
    width: 60px;
    height: auto;

}


.footer_bottom {
    height: 80px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin: 0;
}
.footer_bottom__left{
    font-weight: 300;
}
.footer_fab{
    color: var(--main-color);
    background-color: white;
}

.footer_fab:hover {
    color: white;
    background-color: var(--main-color);
}