.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.logo {

}
.fab {
    text-align: center;
    width: 32px;
    height: 32px;
    margin: 4px;
    color: white;
    background-color: var(--main-color);
    line-height: 2 !important;
}
.fab:hover {
    color: var(--main-color);
    background-color: white;
}



.header-contact {
    color: var(--main-color);
}