:root {
    --main-color: #022866;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #f7f7f7 url(../img/pattern.png) repeat fixed left top;
    background-size: auto;
    font: normal bold 16px / 20px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {

    text-decoration: none;

}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: var(--main-color);
}

.container{

    padding-left: clamp(15px, 10%, 50px);
    padding-right: clamp(15px, 10%, 50px);
}


.main {
    padding: clamp(15px, 10%, 50px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font: normal 18px / 29px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}
.main__left {
    width: 70%;
    float: left;
    height: auto;
    text-align: justify;
}

.main__side-bar {
    width: 30%;
    float: left;
    padding: 20px;
    margin-left: 30px;
    background-color: var(--main-color);
    color: white;
    opacity: 95%;
}


.car-icon{
    fill: var(--main-color);
    display: block;
    margin: 5px auto 5px auto;
    width: 20px;
}



