:root {
    --main-color: #022866;
}
* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Lobster";
    src: url(../fonts/Lobster-Regular.ttf);
}
@font-face {
    font-family: "Acme";
    src: url(../fonts/Acme-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background: #f7f7f7 url(../img/pattern.png) repeat fixed left top;
    background-size: auto;
    font: normal bold 16px / 20px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {

    text-decoration: none;

}

img {
    width: 100%;
    height: auto;
}

h1 {
    color: var(--main-color);
    font-family: Lobster, serif;
    line-height: 50px;
    margin-top: 0;
}

h2, h3 {
    font-family: Acme, serif;
    font-weight: 300;
    color: var(--main-color);
}

.container, .main{

    padding-left: clamp(15px, 10%, 150px);
    padding-right: clamp(15px, 10%, 150px);
}


.main {
    padding-top: clamp(15px, 10%, 50px);
    padding-bottom: clamp(15px, 10%, 50px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font: normal 18px / 29px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}
.main__left {
    width: 70%;
    float: left;
    height: auto;
    text-align: justify;
}

.main__side-bar {
    width: clamp(250px, 30%, 350px);
    float: left;
    padding: 20px;
    margin-left: 30px;
    background-color: var(--main-color);
    color: white;
    opacity: 95%;
}

.side-bar-img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.side-bar-header {
    color: white;
    font-family: Acme, serif;
    font-weight: 300;
    font-size: 20px;
}
.side-bar-text{
    font-size: 18px;
}
.side-bar-services{
    display: inline-block;
    height: 100px;
    width: 100%;
    background-color: white;
    color: var(--main-color);
    font-family: Lobster, serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
}

.side-bar-services:hover{
    border: 2px solid #315082;
}

.map{
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.car-icon{
    fill: var(--main-color);
    display: block;
    margin: 5px auto 5px auto;
    width: 20px;
}



